# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.venv/
.env

# OS artifacts
.DS_Store

# Data and models (managed by DVC)
data/
models/
metrics.json

# Logs and temp files
*.log
*.tmp
